/* container part one start */
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  /* padding: 10px 20px; */
  padding-left: 120px;
  padding-right: 120px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.section-title {
  font-size: 24px;
  /* padding-left: 120px; */
}

.ul-styles {
  list-style: none;
  display: flex;
  gap: 20px;
  /* padding-right: 120px; */
}

.ul-styles li {
  padding: 5px;
}

.ul-styles li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.ul-styles li a:hover {
  color: #007BFF;
}

/* container part one end */

/* container part two start end */

.banner {
  position: relative;
  text-align: center;
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner p {
  font-size: small;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -10%); */
  color: white;
}

/* .text-overlay button {
    padding: 10px 20px;
    background-color: white;
    color: #3F87F5;
    border: none;
    font-size: 16px;
    font-weight: 700px;
    border-radius: 5px;
} */

.carousel-caption button {
  padding: 10px 30px;
  background-color: #007BFF;
  color: white;
  border: none;
  font-size: 1.1em;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;

}

.text-overlay button:hover {
  background-color: black;
}

/* container part two  end */

/* container part three start */

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.container img {
  max-width: 40%;
  height: auto;
}

.content {
  max-width: 60%;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007BFF;
  color: white;
  border: none;
  display: flex;
  align-items: center;
}

button i {
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* container part three end  */

/* container part four start */

.package-style {
  text-align: center;
  margin-top: 20px;
}

.container1 {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.container1 :hover {
  /* width: 292px; */
  /* height: 480px; */
  border-radius: 26px;
  background: #3F87F5;
  box-shadow: 0px 42px 34px 0px rgba(63, 135, 245, 0.25);
}


.package {
  /* border: 1px solid #ccc; */
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.package h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.package h2 {
  font-size: 1.5em;
  color: #555;
}

.package p {
  margin-bottom: 15px;
}

.package ul {
  list-style-type: none;
  padding: 0;
}

.package ul li {
  margin-bottom: 10px;
}

.package button {
  background-color: #F496D1;
  color: #3F87F5;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  width: 207px;
  height: 45px;
  display: block;
  text-align: center;
}

.package button:hover {
  background-color: #FFF;
}

/* container part four end*/

/* container part five start */

.heading-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.cards-container {
  margin-top: 60px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;

}

.card {
  text-align: center;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.13);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  padding: 10px;

}

.card-img-middle {
  display: block;
  margin: 0 auto;
}

.card img {
  max-width: 100%;
  height: auto;
}

/* container part five end */

/* container six start */

.header-style {
  margin-top: 40px;
  color: #0D0925;
  text-align: center;

}

.faq-section {
  padding: 50px 0;
  background-color: #ffffff;
  text-align: center;
}

.faq-section h2 {
  font-weight: 700;
  margin-bottom: 40px;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
  color: #7E848C;
  padding: 15px 0;
  
}

.faq-header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  
}

.faq-header h5 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}

.faq-answer {
  padding: 15px 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #e2e2e2;
}

.card {
  border: none;
  margin-bottom: 10px;
}

.img-styles{
  width: 546px;
border-radius: 5px;
}


/* container six end */

/* Footer section start */

.footer {
  background-color: #0D0D15; 
  padding: 20px 0;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

.footer-right {
  text-align: right;
  /* text-align: end; */
  
}

.footer-right p {
  /* margin: 0 0 10px 0; */
  font-size: 18px;
}

.app-buttons {
  display: flex;
  align-items: center;
  /* text-align: right; */
  /* border: 1px solid white; */
}

.app-buttons a {
  margin-left: 10px;
}

.app-buttons img {
  width: 120px; 
  height: auto;
}

/* .img-1-styles{
  border: 1px solid white;
}
.img-2-styles{
  border: 1px solid white;
} */




/* Footer section end */


